body {
  background-color: rgb(45, 42, 42);
}
.App {
  color: white;
  background-color: rgb(45, 42, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  height: 200px;
  width: 500px;
  border: 2px white solid;
  margin-top: 10px;
  display: flex;
}
.forms {
  display: flex;
  justify-content: center;
}
.formButton {
  width: 53px;
  height: 29px;
  background: #007bff;
  position: absolute;
  border-radius: 5px;
  margin-top: -40px;
  margin-left: 420px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar li {
  display: inline;
  margin: 20px;
  color: white;
}
.navbar {
  background-color: rgb(63, 60, 60);
  width: 600px;
  height: 50px;
  text-align: center;
  display: flex;
  margin: 0 auto 0 auto;
}
a {
  color: white;
  text-decoration: none;
}
.myTweetsOnly {
  display: inline;
  border: 1px white solid;
}
.profile {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile h2 {
  margin-left: 60px;
}
.profilForm {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.newTweetContainer {
  border: 1px white solid;
  margin-bottom: 10px;
  background-color: #343a40;
  width: 500px;
  margin-right: 40px;
  padding: 10px;
}
.myTweetContainer {
  border: 1px white solid;
  margin-bottom: 10px;
  background-color: #343a40;
  width: 500px;
  margin-right: 40px;
  padding: 10px;
  display: none;
}
.info {
  display: flex;
  justify-content: space-around;
  color: #6c757d;
}
/* #date {
  justify-content: flex-end;
}
#username {
  justify-content: flex-start;
} */
